    <h1>Intake</h1>
     
    <%= form_with scope: :entry, url: entries_path, local: true do |f| %>
      <p> 
        <%= f.label :drinks %><br/> 
        <%= f.number_field :drinks %>
      </p>
      <p>
        <%= f.label :updated_at %><br/> 
        <%= f.date_field :date %> 
      </p>      
      <p>
        <%= f.submit %> 
      </p>
    <% end %>

