<h1>tracker app</h1>

<div class="add_entry_container">
  <%= link_to new_entry_path do %>
    <div class="button">
      <div class="icon">
          <i class="fa fa-solid fa-plus"></i>
      </div>
    </div>
  <% end %>
</div>

<div>
  <p>Practicing sobriety since: <%= DateTime.new(2022,3,24).strftime("%F") %> </p>
</div>

  <div>
  <p>I've been alcohol free for</p>
  <p><%=  @get_month_alc_free_days %> days this month</p> 
  <p><%= @sober_days_of_year %> days this year</p>
  <p class="pie animate" style="--p:40;--c:darkblue;--b:10px"><%= @sober_days_in_month %>% of <%= DateTime.now().strftime('%b')%></p>

</div>


<div class="graph">
<%= line_chart Entry.this_month.group_by_day(:updated_at).maximum(:drinks) %>
</div>